#modular-table .container {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: rgba(75, 85, 99, 1) solid 4px;
  color: var(--modular-text-color);
  background: var(--modular-background);
}

#modular-table .headers {
  display: flex;
  flex-direction: row;
  border-bottom-color: rgba(75, 85, 99, 1);
  border-bottom-width: 3px;
}

#modular-table .rows {
  border-color: rgba(75, 85, 99, 1);
  display: grid;
}

#modular-table .rows .element {
  padding: 0.75rem;
  border-color: rgba(75, 85, 99, 1);
  display: flex;
  flex-direction: column;
  border-bottom-width: 1px;
  border-right-width: 3px;
  border-left-width: 3px;
  align-items: center;
}

#modular-table.styled .rows .header {
  color: rgb(79, 155, 248);
  font-weight: 700;
  padding: 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: rgba(75, 85, 99, 1) solid 4px;
}

#modular-table.dark .rows .element,
#modular-table.dark .rows .header {
  border-color: rgb(224, 222, 222);
}

#modular-table.dark .rows .header {
  color: rgb(121, 178, 247);
}
